# dependencies
node_modules/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# runtime
pids
*.pid
*.pid.lock

# coverage
coverage/
.nyc_output/

# build output
dist/
build/

# cache
.cache
.parcel-cache
.eslintcache
.stylelintcache

# environment variables
.env
.env.local
.env.*.local

# IDEs and editors
.idea/
*.iml
out/

prisma/migrations

.DS_Store
Thumbs.db
